.page-product {

    .slide-image {
        width: 100%;
    }

    .carousel-holder {
        margin-bottom: 30px;
    }

    .carousel-control,
    .item {
        border-radius: 4px;
    }

    .caption {
        height: 130px;
        overflow: hidden;
        h4 {
            white-space: nowrap;
        }
    }

    .ratings {
        padding-right: 10px;
        padding-left: 10px;
        color: #d17581;
    }

    .thumbnail {
        padding: 0;
        img {
            width: 100%;
        }
        .caption-full {
            padding: 9px;
            color: #333;
        }
    } 
}